@import "style-additional.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  font-family: "Roboto Mono", monospace;
}

.navbar-item {
  @apply text-xl;
}

.navbar-item.active {
  @apply font-bold;
}

.theme-switch .slider:after {
  content: "";
  @apply absolute w-1/2 h-full left-0 top-0 bg-white border-[3px] border-black transition-transform;
}

.theme-switch input:checked + .slider:after {
  transform: translateX(100%);
}

.theme-switch input:checked + .slider #moon,
.theme-switch .slider #sun {
  transform: scale(0.9);
}

.theme-switch .slider #moon,
.theme-switch input:checked + .slider #sun {
  transform: scale(0.1);
}

.arrow-text-item.shown {
  @apply opacity-100;
}

.arrow-text-item {
  @apply text-sm lg:text-lg text-center row-span-1 rotate-90 opacity-0 transition-opacity bg-white p-1;
}

.arrow-button {
  @apply opacity-0 row-span-1 transition-opacity bg-white p-1 scale-75 lg:scale-100;
}

.arrow-button.shown {
  @apply opacity-100;
}

#navbar-menu {
  @apply -translate-y-full opacity-0;
}

#navbar-menu.shown {
  @apply translate-y-0 opacity-100;
}

.skills-item {
  @apply w-full;
}

.skills-item-heading {
  @apply text-center text-2xl font-bold my-2;
}

.skill-item-container {
  @apply bg-gray-200 p-3 flex flex-col gap-3;
}

.skill-item {
  @apply flex flex-col gap-2 p-3 bg-white;
}

.skill-item-head {
  @apply flex justify-start items-center gap-2;
}

.skill-item-heading {
  @apply text-sm;
}

.skill-item-logo {
  content: "";
  @apply w-6 h-6;
}

.skill-item-level {
  @apply bg-gray-200 w-full h-3 block;
}

@keyframes skill-item-level-animation {
  from {
    width: 5%;
  }
}

.skill-item-level.animate::after {
  content: "";
  animation-name: skill-item-level-animation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  @apply bg-gray-400 h-3 z-10 block;
}

.contact-item {
  content: "";
  @apply h-10 w-10
}