@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
}

.navbar-item {
  @apply text-xl;
}

.navbar-item.active {
  @apply font-bold;
}

.theme-switch .slider:after {
  content: "";
  @apply absolute w-1/2 h-full left-0 top-0 bg-white border-[3px] border-black transition-transform;
}

.theme-switch input:checked + .slider:after {
  transform: translateX(100%);
}

.theme-switch input:checked + .slider #moon,
.theme-switch .slider #sun {
  transform: scale(0.9);
}

.theme-switch .slider #moon,
.theme-switch input:checked + .slider #sun {
  transform: scale(0.1);
}

.arrow-text-item.shown {
  @apply opacity-100;
}

.arrow-text-item {
  @apply text-sm lg:text-lg text-center row-span-1 rotate-90 opacity-0 transition-opacity bg-white p-1;
}

.arrow-button {
  @apply opacity-0 row-span-1 transition-opacity bg-white p-1 scale-75 lg:scale-100;
}

.arrow-button.shown {
  @apply opacity-100;
}

#navbar-menu {
  @apply -translate-y-full opacity-0;
}

#navbar-menu.shown {
  @apply translate-y-0 opacity-100;
}
