@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
}

.page-item {
  @apply w-full h-screen;
}

.navbar-item {
  @apply text-xl;
}

.navbar-item.active {
  @apply font-bold;
}

.theme-switch .slider:after {
  content: "";
  height: 80%;
  width: 40%;
  left: 5%;
  bottom: 10%;
  @apply absolute drop-shadow-lg rounded-full bg-white transition-transform;
}

.theme-switch input:checked + .slider:after {
  transform: translateX(125%);
}

.theme-switch input:checked + .slider #moon,
.theme-switch .slider #sun {
  transform: scale(0.9);
}

.theme-switch .slider #moon,
.theme-switch input:checked + .slider #sun {
  transform: scale(0.1);
}

.arrow-text-item.shown {
  @apply opacity-100;
}

.arrow-text-item {
  @apply text-center row-span-1 rotate-90  opacity-0 transition-opacity bg-white p-1;
}

.arrow-button {
  @apply opacity-0 row-span-1 transition-opacity bg-white p-1;
}

.arrow-button.shown {
  @apply opacity-100;
}
